@inject NavigationManager navigationManager
@using VocabList.UI.Utilities

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Yönetim Paneli</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <AuthorizeView>
            <Authorized>
                @* <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Anasayfa
                    </NavLink>
                </div> *@
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi"><img src="icons/house-solid.svg" /></span>Anasayfa
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users">
                        <span class="oi"><img src="icons/users-solid.svg" /></span>Kullanıcılar
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="roles">
                        <span class="oi"><img src="icons/person-circle-question-solid.svg" /></span> Roller
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authorize-menu">
                        <span class="oi"><img src="icons/user-pen-solid.svg" /></span> Yetkilendirme Menüsü
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="account-settings">
                        <span class="oi"><img src="icons/screwdriver-wrench-solid.svg" /></span> Hesap Ayarları
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" @onclick=@LogOut style="cursor:pointer;">
                        <span class="oi"><img src="icons/right-from-bracket-solid.svg" /></span> Oturumu Kapat
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                @* Kullanıcının giriş yapmadığında görebileceği alan.. *@
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    async Task LogOut()
    {
        await localStorageService.ClearAsync();

        (authenticationStateProvider as AuthStateProvider).NotifyUserLogout();
        Client.DefaultRequestHeaders.Authorization = null;

        navigationManager.NavigateTo("/login", true);
    }

    [Inject]
    AuthenticationStateProvider authenticationStateProvider { get; set; }

    [Inject]
    ILocalStorageService localStorageService { get; set; }

    [Inject]
    HttpClient Client { get; set; }
}
