@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@using VocabList.UserPortal.Services
@inject UserApiService _userApiService
@inject ISnackbar SnackbarService

<PageTitle>VocabList</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    @* <div class="sidebar">
    <NavMenu />
    </div> *@

    <main>
        <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
            <a class="navbar-brand ms-2" style="color: #f7f7f8;" href="/">VocabList</a>
            <!-- Navbar content -->
            <div class="ml-auto">
                <div class="mr-2">
                    <CascadingValue Value="username" Name="AvatarChar">
                        <CascadingValue Value="profileImageUrl" Name="AvatarImage">
                            <AuthenticationAvatar></AuthenticationAvatar>
                        </CascadingValue>
                    </CascadingValue>
                </div>
            </div>
        </nav>
        @* <div class="top-row px-4">
        <CascadingValue Value="username" Name="AvatarChar">
        <AuthenticationAvatar></AuthenticationAvatar>
        </CascadingValue>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    [Inject]
    ILocalStorageService localStorageService { get; set; }

    string username = String.Empty;
    // string accessToken = String.Empty;
    // string userId = String.Empty;

    private string? profileImageUrl;
    string userId = string.Empty;
    String accessToken = string.Empty;

    // İlgili parametreleri kullanarak bir kullanıcının profil resmini alır..
    private async Task GetProfileImageByUserId()
    {
        var response = await _userApiService.GetProfileImageByUserIdAsync(userId, accessToken);
        if (response.Item2 == System.Net.HttpStatusCode.OK)
        {
            // İşlem başarılı..
            // Byte dizisi base64 formatına dönüştürülüyor..
            profileImageUrl = "data:image/jpeg;base64," + Convert.ToBase64String(response.Item1);
        }
        else if (response.Item2 == System.Net.HttpStatusCode.NotFound)
        {
            // Kullanıcı ya da resim bulunamadı..
            profileImageUrl = null;
        }
        else if (response.Item2 == System.Net.HttpStatusCode.Unauthorized)
        {
            // Yetkisiz işlem..
            ShowNotification("Yetkisiz işlem!", Severity.Warning);
        }
        else
        {
            // Sunucu hatası..
            ShowNotification($"Profil resmine erişmeye çalışırken beklenmeyen bir hata meydana geldi!", Severity.Error);
        }
    }

    private void ShowNotification(string resultMessage, Severity severity)
    {
        SnackbarService.Add(resultMessage, severity);
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        if (!IsAllowAnonymous())
        {
            if (authState.User.Identity.IsAuthenticated)
            {
                accessToken = await localStorageService.GetItemAsStringAsync("AccessToken");
                userId = await localStorageService.GetItemAsStringAsync("id");
                username = await localStorageService.GetItemAsStringAsync("Username");
                // await InvokeAsync(StateHasChanged);
                if (String.IsNullOrEmpty(username) || string.IsNullOrEmpty(accessToken) || string.IsNullOrEmpty(userId))
                {
                    await ClearLocalStorageAndNavigateToLogin();
                }else
                {
                    accessToken = accessToken.Substring(1, (accessToken.Length - 2));
                    userId = userId.Substring(1, (userId.Length - 2));
                    await GetProfileImageByUserId();
                }
                
                // await InvokeAsync(StateHasChanged);
            }
            else
            {
                await ClearLocalStorageAndNavigateToLogin();
            }
        }
        else
        {
            // accessToken = await localStorageService.GetItemAsStringAsync("AccessToken");
            username = await localStorageService.GetItemAsStringAsync("Username");
            // userId = await localStorageService.GetItemAsStringAsync("id");
        }

    }



    private bool IsAllowAnonymous()
    {
        // Kontrol edilecek URL parçacıkları..
        string[] allowedUrlFragments = { "/register", "/kvkk", "/forgot-password", "/update-password" };

        // Mevcut URL alınıyor..
        string currentUrl = navigationManager.Uri;
        // if (currentUrl.Contains("/register") || currentUrl.Contains("/kvkk") || currentUrl.Contains("/forgot-password") || currentUrl.Contains("/update-password"))
        // {
        //     return true;
        // }

        // Herhangi bir URL parçacığı ile başlıyorsa true..
        foreach (var urlFragment in allowedUrlFragments)
        {
            if (currentUrl.Contains(urlFragment))
            {
                return true;
            }
        }

        return false;
    }

    private async Task ClearLocalStorageAndNavigateToLogin()
    {
        await localStorageService.RemoveItemAsync("AccessToken");
        await localStorageService.ClearAsync();

        // Önceki sayfa URLi alınıyor.. (Login olduktan sonra kaldığı sayfaya geri dönebilmesi için.. Alternatif olarak sessionda kullanılabilir :/)
        string currentUrl = navigationManager.Uri;
        Uri uri = new Uri(currentUrl);

        // Giriş sayfasına yönlendirirken önceki sayfa URLi query string olarak iletiliyor..
        if (!string.IsNullOrEmpty(uri.AbsolutePath) && !uri.AbsolutePath.Contains("/login")) // returnUrl giriş sayfasına ait değilse
        {
            navigationManager.NavigateTo($"/login?returnUrl={uri.AbsolutePath}");
        }
        else
        {
            navigationManager.NavigateTo($"/login");
        }
        
    }
}